/* Portal-specific styles */

#portalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: opacity 1s ease-out;
}

#portalOverlay.fade-out {
    opacity: 0;
}

#portalOverlay.hidden {
    display: none;
}

#quitButtonContainer {
    bottom: 10px;
    right: 10px;
    position: absolute;
    z-index: 2;
}

#mainTextContainer {
    position: fixed;
    margin-bottom: 50px;
    background-color: transparent;
    width: 650px;
    height: 110px;
    line-height: 50%;
    z-index: 2;
}

#dcTextContainer {
    position: fixed;
    margin-bottom: 25px;
    background-color: transparent;
    width: 650px;
    height: 110px;
    line-height: 50%;
    z-index: 2;
}

#enterBtn{
    margin-top: 95px;
}

#disconButton{
    margin-top: 95px;
}

#copyrightText {
    font-family: 'FRIZQT';
    font-size: 15px;
    text-align: left;
    color: #ffc700;
    text-shadow: 0 0 3px #000;
}

#buildDate {
    position: fixed;
    font-family: 'FRIZQT';
    font-size: 15px;
    text-align: left;
    color: #ffc700;
    text-shadow: 0 0 3px #000;
    bottom: -8px;
    left: 10px;
}

#buildVersion {
    position: fixed;
    font-family: 'FRIZQT';
    font-size: 15px;
    text-align: left;
    color: #ffc700;
    text-shadow: 0 0 3px #000;
    bottom: 10px;
    left: 10px;
}

.xPacButton {
    z-index: 1;
    position: absolute;
    top: -30px;
    left: -95px;
    width: 633px;
    height: 289px;
    border: none;
    outline: none;
    display: inline-block;
    background: url('../img/ui/logos/Shadowlands.png') no-repeat top;
    background-color: transparent;
    transform: scale(0.65);
    transition: 0.2s;
    filter: drop-shadow(0px 0px 6px #000);
    cursor: url('../img/ui/Point.png'), auto;
}

.xPacButton:hover {
    transform: scale(0.67);
    filter: drop-shadow(0px 0px 10px #000);
}

.xPacButton:active {
    transform: scale(0.64);
    filter: drop-shadow(0px 0px 0px #000);
}

.slidecontainer {
    width: 450px;
    z-index: 4;
}
